{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h1>Buzz from Beez you Follow</h1>
{% for post in posts%}
<h1>{{post.body}}</h1>
{% endfor %}
{% for post in posts%}
<div class="buzz-body">
    <div class="buzz-profile-pic"></div>
    <div class="buzz">
        <i>{{post.created_on}}</i>
        <h6 > <a href="{%url 'profile' post.author%}">@{{post.author}} </a> <span style="font-size:13px; font-weight:400;">buzzed</span> </h6>
        
        <div><h6 style="padding: 1rem 0rem;" class="buzz-text">{{post.body}}</h6>
            <hr style="border-top: 1px solid black;">
            {% if post.author.user.id is page_user %}
            <button class="edit_post edit-button">Edit</button>
            
            {% else  %}
                {% if post in user_profile.likes.all %}
                {%csrf_token%}
                <button class="like_button" onclick="location.href='{%url 'like' post.id%}"> Dislike </button>
                {% else %}
                {%csrf_token%}
                <button class="like_button" onclick="location.href='{%url 'like' post.id%}"> Like </button>
                {%endif%}
        {% endif %}
        </div>
        {% if post.author.user.id is page_user %}
        <div class="editPanels hidePanels" style="">
            Edit Post
            <div>
                <form action="{% url 'save_edit' post.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" value="{{post.body}}" name="post-edit" autofocus>
                    <input type="submit">
                </form>
            </div>
        </div>
        {% endif %}
        
    </div>
    <p><span id="like-count" class="like_count">{{post.liked.all.count}} </span>like(s)</p>
</div>
<hr style="margin:0;">
{%endfor%}
{% endblock %}
