{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <form class="buzz-form" action="{% url 'index'%}" method="POST">
        {% csrf_token %}
        {{form}}
        <input class="buzz-button" type="submit" value="Post">
    </form>
    
    <div class="sub-title">
        <h6 >Latest Buzz From Your Beez</h6>
        <h4 id="last-update" style="font-size:smaller;">last update:</h4>
    </div>
    <hr style="margin:0; border: 1px solid black;">
    <div style="background-color: #f8f9fa; border-radius: 18px;" class="posts">
        
        {% for post in posts %}
        <div class="buzz-body">
            <div class="buzz-profile-pic">
                <div style="background-color:gray; height:5rem; width: 7rem; height:7rem; border-radius:100px;"></div>
            </div>
            <div class="buzz">
                <div style="display:flex; justify-content: space-between;">
                    <h6 class="buzz-cred"> <a href="{%url 'profile' post.author%}">@{{post.author}} </a> <span style="font-size:13px; font-weight:400; color: gainsboro;">buzzed</span> </h6>
                    <i style="color:gainsboro;">{{post.created_on}}</i>
                </div>
                <div>
                    <h6 class="buzz-text">{{post.body}}</h6>

                    {% if post.author.user.id is page_user %}
                    <button class="edit_post edit-button">Edit</button>
                    
                    {% else  %}
                        {% if post in user_profile.likes.all %}
                        {%csrf_token%}
                        <button class="like_button" onclick="location.href='{%url 'like' post.id%}"> Dislike </button>
                        {% else %}
                        {%csrf_token%}
                        <button class="like_button" onclick="location.href='{%url 'like' post.id%}"> Like </button>
                        {%endif%}
                {% endif %}
                </div>
                {% if post.author.user.id is page_user %}
                <div class="editPanels hidePanels" style="">
                    Edit Post
                    <div>
                        <form action="{% url 'save_edit' post.id %}" method="POST">
                            {% csrf_token %}
                            <input type="text" value="{{post.body}}" name="post-edit" autofocus>
                            <input type="submit">
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
            <p style="color: gainsboro; font-weight: 600; font-size:smaller; padding:2rem;"><span id="like-count" class="like_count">{{post.liked.all.count}} </span>like(s)</p>
        </div>
        <hr style="margin:0; border: 1px solid black;">
        {%endfor%}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static "network/page.js" %}"></script>
{% endblock %}

