{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <style>
            body{
                max-width: 700px;
                margin: auto;
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark" style="display:flex; flex-direction:column; padding: 0rem;">
            <div style="display: flex; justify-content:space-between; align-items:center; padding:1rem; background:bottom; width: 100%;">
                <a class="navbar-brand" href="{%url 'index'%}">Hive </br> Network</a>
                {% if user.is_authenticated%}
                <div style="text-align:center; display: flex; flex-direction:column; gap:.5rem; ">
                    <div style="display:flex; gap:.5rem; justify-content:center; align-items:center;" >
                        <div style="width:1.6rem; height:1.6rem; background-color:gray; border-radius:5rem;"></div>
                        <a class="" href="{%url 'profile' user%}"><strong style="color:aliceblue;">{{ user }}</strong></a>
                    </div>
                    <a class="auth-link" href="{% url 'logout' %}">Log Out</a>
                </div>
                {%endif%}
            </div>
            <div style="width:100%;">
                <ul class="navbar-nav mr-auto navi" >
                    
                    <li class="nav-item navi-item" style="background-color:#343a40;">
                    <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item navi-item" style="background-color:#343a40;">
                            <a class="nav-link" href="{% url 'following_posts' user%}">Following</a>
                        </li>
                    {% else %}
                        <li class="nav-item navi-item" style="background-color:#343a40;">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item navi-item" style="background-color:#343a40;">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
    {% block script %}
    <script src="{% static "network/page.js" %}"></script>
    {% endblock %}
</html>