{% extends 'network/layout.html'%}
{% load static %}

{% block body %}

<div class="profile-intro" style="padding:1rem;">
    <h7 style="color: gainsboro; padding:1rem; font-weight:600; font-size:smaller;">Profile page</h7>
    <h6 style="margin-top: 0rem; font-weight: bold; color: aquamarine; padding:0rem 1rem;">{{user}}'s Hive</h6>
</div>
<div class="profile-summary">
    <div class="profile-summary-img" style="align-self: center;">
        <div style="background-color:gray; height:5rem; width: 5rem; border-radius:10px;">
        </div>
    </div>
    <div style="display:flex; flex-wrap: wrap; justify-content: start;">
        <div id="show-following" class="profile-summary-follow" style="margin: 0rem 1rem; align-self:center;">
            <p style="color:#535658; font-weight:700; font-size: smaller; margin-bottom:2px;">Following:</p>
            <h8 id="following-count" style="color: aquamarine; padding:0rem .2rem; font-weight:900;">{{followings.count}}</h8>
            <div id="following-modal" class="follow-modal" style="display:none;">
                <div style="margin:auto; text-align:center; background-color:#1c1c1c; padding:2rem; border-radius:10px; display:flex; flex-direction:column">
                    <h2 style="background-color: #1c1c1c">Following</h2>
                {% for following in followings.all%}
                <h8 style="margin-bottom:0px; font-size:larger; font-weight:800; background-color: #1c1c1c"><a style="background-color:#1c1c1c; color:aquamarine;" href={% url 'following_posts' user%}> {{following}} </a></h8>
                {% endfor %}
                </div>
            </div>
        </div>
        <div id="show-followers" class="profile-summary-follow" style="margin: 0rem 1rem; align-self: center;">
            <p style="color:#535658; font-weight:700; font-size: smaller; margin-bottom:2px;">Followers:</p>
            <h8 id="followers-count" style="color: aquamarine; font-weight:900; padding:0rem .2rem;">{{followers.count}}</h8>
            <div id="followers-modal" class="follow-modal" style=" display:none;">
                <div style="margin:auto; text-align:center; background-color:#1c1c1c; padding:2rem; border-radius:10px; display:flex; flex-direction:column">
                    <h2 style="background-color: #1c1c1c">Followers</h2>
                {% for follower in followers.all%}
                <h8 style="margin-bottom:0px; font-size:larger; font-weight:800; background-color: #1c1c1c"><a style="background-color:#1c1c1c; color:aquamarine;" href={% url 'following_posts' user%}> {{follower}} </a></h8>
                {% endfor %}
                </div>
            </div>
        </div>
        {% if profile.pk is not active_user_profile.pk  %}
            <div class="follow-button-div" style="align-self: center; padding:0rem 1rem;">
                {% if follow_status %}
                    <button onclick="location.href='{%url 'follow' user%}" id="follow" class="follow-button">Unfollow</button>
                {% else %}
                    <button onclick="location.href='{%url 'follow' user%}" id="follow" class="follow-button">Follow</button>
                {% endif %}
            </div>
        {%else%}
            <div></div>
        {%endif%}
    </div>
    
</div>
<hr style="margin:0; border: 1px solid black;">
<div style="background-color: #f8f9fa; border-radius: 18px;" class="posts">
{% for post in posts%}
<div class="buzz-body" data-post-id= {{post.id}}>
    <div class="buzz-profile-pic"></div>
    <div class="buzz">
        <div style="display:flex; justify-content: space-between;">
            <h6 class="buzz-cred"> <a href="{%url 'profile' post.author%}" style="color:#e0eaf3; font-weight:800; font-size:.8rem;">@{{post.author}} </a> <span style="font-size:13px; font-weight:200; color: aquamarine;">buzzed</span> </h6>
            <i style="color:gainsboro;">{{post.created_on}}</i>
        </div>
        <div>
            <h6 class="buzz-text">{{post.body}}</h6>
            <div style="display:flex; padding: 1rem 0rem;">
                <div style=" font-weight: 600; width:100%; color:gray; font-size:smaller; align-self:center;" class="post_like"><span id="like-count" class="like_count">{{post.liked.all.count}} </span>like(s)</div>
                <div style="width:100%;">
                {% if post in user_profile.likes.all %}
                {%csrf_token%}
                <button class="like_button" onclick="location.href='{%url 'like' post.id%}"> Dislike </button>
                {% else %}
                {%csrf_token%}
                <button class="like_button" onclick="location.href='{%url 'like' post.id%}"> Like </button>
                {%endif%}
                </div>
                <div style="width:100%;">
                {% if post.author.user.id is page_user %}
                <button class="edit_post edit-button" id="edit_post">Edit</button>
                {% else  %}
                <button class="edit-button" id="">.</button>
                {% endif %}
                </div>
            </div>
            </div>
            
            </div>
            
            <div class="editPanels hidePanels" style="">
            Edit Post
            <div>
                <form action="{% url 'save_edit' post.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" value="{{post.body}}" name="post-edit" autofocus>
                    <input type="submit">
                </form>
            </div>
        </div>
        {% comment %} <h2{{page_user}}></h2>
        <h2{{user}}></h2> {% endcomment %}
        <p style="color: gainsboro; font-weight: 600; font-size:smaller; padding:2rem;"><span id="like-count" class="like_count">{{post.liked.all.count}} </span>like(s)</p>
    </div>
    <hr style="margin:0; border: 1px solid black;">
{% endfor %}
</div>

{% endblock %}

{% comment %} onclick="location.href='{%url 'like' post.id%}" {% endcomment %}