@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Righteous&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Righteous&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    background-color: rgb(17, 17, 17);
}

*, body{
    font-family: 'Montserrat', sans-serif !important;
    background-color: #171819;
}

.buzz{
    display: flex;
    flex-direction: column ;
    margin: 1rem;
    width: 100%;
    
}

.buzz-text{

    color: aquamarine;
}

.buzz-button{
    width: 100%;
    background-color:rgb(17, 95, 229);
    padding: .4rem;
    text-align: center;
    border: none;
    color: white;
    border-radius: 2px;
    font-weight: 600;
}

.navbar-brand{
    padding: 0.5rem;
    font-weight: 900;
    color: rgb(125, 163, 228)!important;
    font-size: larger !important;
}

.nav-link{
    font-size: small;
    font-weight: 700;
}

i{
    font-weight:lighter !important;
    font-size: small;
    padding-bottom: .5rem;
}

form{
    margin: 1rem !important;
}

.buzz-body{
    display: flex !important;
    
}

.sub-title{
    padding: 3rem 0rem 2rem 0rem; 
    text-align: center !important;
    color: gainsboro;
}

.buzz-profile-pic{
    min-width: 3rem !important;
}

.like_button{
    display: flex;
    margin: 2rem 0 1rem 0;
    max-width: max-content;
    color: white; 
    border: 1px rgb(31, 31, 190) solid;
    border-radius: 2px;
    font-size: smaller;
    padding: 2px 12px;
}


.edit_post{
    display: flex;
    margin: 0 0 1.5rem 0;
    max-width: max-content;
    color: gray; 
    border: none;
}

#activePanel{
    display: block;
}

#inactivePanel{
    display: block;
}
.hidePanels{
    display: none;
}


/* Profile Page */
.profile-summary{
    display: flex; 
    margin-bottom: 2rem;
    justify-content: start;
    padding: 0rem 2rem;
}

.follow-button{
    padding: 2px 22px;
    background-color:rgb(125, 163, 228) !important;
    color: white;
    border: 0;
    border-radius: 2px;
}

@media only screen and (min-width: 600px){
    body{
        min-width: 100% !important;
    }
    .form-control{
        height: 15rem !important; 
        margin: 2rem 0rem;
        padding: 1.5rem 2rem;
        font-size: 2.5rem;
        font-weight: medium !important;
        border-radius: 8px;
    }
    .buzz-form{
        padding: 2rem;
    }
    .navbar-brand{
        font-size: 4rem !important;
    }
    .buzz-button{
        margin-top:1rem;
        font-size: 2.5rem !important;
        padding: 1.2rem ;
        border-radius: 8px;
    }
    .sub-title{
        padding: 5rem 0rem 5rem 0rem;
    }
    .sub-title h6{
        font-size: 2.5rem;
    }
    .sub-title h4{
        font-size: 2rem !important;
    }
    .buzz-cred{
        font-size: 2.5rem;
    }
    .buzz-cred span{
        font-size: 2rem !important;
    }
    .buzz-text{
        font-size: 2.5rem;
        padding: 1rem 0px;
    }
    .buzz-profile-pic {
        min-width: 8rem !important;
        padding: 1.5rem;
    }
    .buzz-body{
        padding: 2rem .5rem;
    }
    .like_button{
        font-size: 2rem;
        padding: .6rem 3rem;
        margin: 3rem 0 2rem 0;
    }
    .edit_button{
        font-size: 2rem;
        padding: .6rem 3rem;
        margin: 3rem 0 2rem 0;
    }
    .buzz i{
        font-size: 1.8rem;
    }
    .buzz-body p{
        font-size: 1.8rem !important;
    }
    .pagination{
        font-size: 3rem;
    }
    .nav-link{
        font-size:2rem;
    }

    /* Profile Page Mobile */

    .profile-intro{
        padding: 2rem 3rem !important;
    }
    .profile-intro h7{
        font-size: 2rem !important;
        padding: 1rem;
    }
    .profile-intro h6{
        font-size: 1.8rem;
        padding: 0rem 1rem;
    }
    .profile-summary{
        padding: 3rem;
        align-self: center;
        display: flex;
    }
    .profile-summary-img{
        padding: 2rem !important;
    }
    .profile-summary-img > div{
        width: 10rem !important;
        height: 10rem !important;
    }
    .profile-summary-follow{
        padding: 0rem 3rem;
    }
    .profile-summary p{
        font-size: 2rem !important;
    }
    .profile-summary h8{
        font-size: 2.3rem;
    }
    .follow-button{
        font-size: 2.5rem;
        padding: 0rem 8rem;
    }
    .follow-button-div{
        padding: 3rem !important;
        display: flex;
    }
}